<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="Authorization" value="Bearer 24406f248404e404f864416947909a774feb07f30cac71740f3630d29f6982148" />
    </appSettings>
</configuration>